#menu{
  width:270px;
  height:200px;
  margin:150px auto;
  background-color:#4bce4b;
  border-radius:2px;
  display:flex;
  justify-content:center;
}


#hamburgermenu{
  width:80px;
  height:auto;
  position:relative;
}

.bar{
  background-color:white;
  width:80px;
  height:10px;
  border-radius:6px;
  position:absolute;
}

.transition{
  transition:transform .5s, right .5s;
  transform-origin: right;
}

.topbar{
  top:72px;
  right:0;
  transition: transform .5s, right .5s;
  transform-origin:right;
}

.topclick{
  transform:rotate(-45deg);
  right:7px;
}



.middlebar{
  top:100px;
  right:0;
  transition:transform .5s, right .5s;
}

.middleclick{
  right:-185px;
}

.bottombar{
  bottom:62px;
  transition: transform .5s, right .5s;
  transform-origin:right;
}

.bottomclick{
  transform:rotate(45deg);
  right:7px;
}
